<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloClient" class="me.hch.HelloClient">
        <property name="defaultUri" value="http://localhost:8080/ws/hello.wsdl"/>
        <property name="request" value="classpath:me/hch/hello-request.xml"/>
        <property name="messageSender">
            <bean class="org.springframework.ws.transport.http.HttpComponentsMessageSender"/>
        </property>
    </bean>

</beans>
